version: '3.6'
services:
    postgres:
        image: postgres:13
        ports:
            - '5432:5432'
        restart: always
        volumes:
            - db_data:/var/lib/postgresql/data
        environment:
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_DB: ${DB_NAME}
volumes:
    db_data:
