process.env.DB_USER='postgres'
process.env.DB_PASSWORD='postgres'
process.env.DB_NAME='starter'
process.env.DOMAIN='localhost'
process.env.DOMAIN='192.168.0.199'
process.env.DATABASE_URL='postgresql://${DB_USER}:${DB_PASSWORD}@localhost:5432/${DB_NAME}'
process.env.COMPOSITE_DOMAIN='http://${DOMAIN}:3000'
process.env.LN_AUTH_URL='http://${DOMAIN}:3000/api/authenticate'
process.env.LN_WITH_CREATE_URL='http://${DOMAIN}:3000/api/create-withdrawal'
process.env.LN_WITH_DO_URL='http://${DOMAIN}:3000/api/do-withdrawal'
process.env.JWT_SECRET='123456'
process.env.LND_CERT=''
process.env.LND_HOST='blitznode.m.voltageapp.io'
process.env.LND_MACAROON='AgEDbG5kAvgBAwoQ0zY6lLuovytDj6/0AJiQ4BIBMBoWCgdhZGRyZXNzEgRyZWFkEgV3cml0ZRoTCgRpbmZvEgRyZWFkEgV3cml0ZRoXCghpbnZvaWNlcxIEcmVhZBIFd3JpdGUaIQoIbWFjYXJvb24SCGdlbmVyYXRlEgRyZWFkEgV3cml0ZRoWCgdtZXNzYWdlEgRyZWFkEgV3cml0ZRoXCghvZmZjaGFpbhIEcmVhZBIFd3JpdGUaFgoHb25jaGFpbhIEcmVhZBIFd3JpdGUaFAoFcGVlcnMSBHJlYWQSBXdyaXRlGhgKBnNpZ25lchIIZ2VuZXJhdGUSBHJlYWQAAAYgYAdccR2dVQ5j8GLcUw7Y/S6fByqUVQWHOZWTDqADoNs='
process.env.LND_PORT='10009'
